
#
# dirs
#
build/
builds/
.data/
dist/
download/
.idea/
logs/
node_modules/
__pycache__/
.ssh/
tmp/
unsloth_compiled_cache/
.vendor/
vendor/
#
# files
#
*.bin
*.crt
*.db-shm
*.db-wal
.DS_Store
*.elf
.env
index.json
*.key
*.log
*.out
*.pem
*.pkl
*.pkl.gz
*.prof
*.pt
*.pth
*.safetensors
*.so
*.tar
*.tar.gz
Thumbs.db
*.tmp

